@import "tailwindcss";

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

button {
  background-color: #ededed;
  color: #0a0a0a;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius:0.25rem;
  cursor: pointer;
  height: 40px;
}
button:hover {
  background-color: #0a0a0a;
  color: #ededed;
  border: 1px solid #ededed;
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

li {
  border-bottom: 2px solid #ededed7e;
  padding: 5px;
}
h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin: 15px;
}

div > p {
    margin-top: 15px;
}
