@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-secondary: #ff0000;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px;
}

button {
  background-color: var(--foreground);
  color: var(--background);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius:0.25rem;
  cursor: pointer;
  height: 40px;
}
button:hover {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

input {
  border: 2px solid var(--foreground);
  padding: 5px;
}
hr {
  height: 1px;
  background: var(--foreground);
  margin: 10px 20px 10px;
}

li {
  border-bottom: 2px solid var(--foreground);
  padding: 5px;
}
