body {
     max-width: 1200px;
     margin: 0 auto;
     background-color: #0a0a0a;
 }
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

li > div {
    border-bottom: #f1f1f1 1px solid;
}